---
new_page_extension: md
auto_deploy: true
admin_path: ''
webhook_url: 
sections:
- type: heading
  label: Pages
- type: document
  path: content/_index.md
  label: Homepage
- type: directory
  path: content/pages
  label: Pages
  create: all
  match: "**/*"
  templates:
  - general-content-page
- type: heading
  label: People
- type: document
  path: content/people.md
  label: People Landing
- type: directory
  path: content/people
  label: People
  create: documents
  match: "*"
- type: heading
  label: Insights
- type: directory
  path: content/news
  label: News
  create: documents
  match: "*"
- type: directory
  path: content/events
  label: Events
  create: documents
  match: "*"
- type: directory
  path: content/publications/*
  label: Publications
  create: documents
  match: "**/*"
upload_dir: static/uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_command: hugo -E -F -D -b $DEPLOY_URL -d public
  publish_command: hugo -d public
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.53
  publish_env:
  - HUGO_ENV=production
  - HUGO_VERSION=0.53
  preview_output_directory: public
  output_directory: public
version: '0.53'
